<div class="list-header-loader">
    <div class="list-header-loader__left">
        <div class="list-header-loader__label">
            <ngx-skeleton-loader [theme]="{
                        width: '792px',
                        height: '22px',
                        margin:'0px',
                        'border-radius':'100px'
                      }">
            </ngx-skeleton-loader>
        </div>
        <div class="list-header-loader__items">
            <ngx-skeleton-loader count="3" [theme]="{
                            width: '137px',
                            height: '22px',
                            margin:'9px 18px 0 0',
                            'border-radius':'100px'
                          }">
            </ngx-skeleton-loader>
        </div>
    </div>
    <div class="list-header-loader__right">
        <ngx-skeleton-loader count="2" appearance="circle" [theme]="{
            width: '37px',
            height: '37px',
            margin:'0px 22px 0px 0px',
            'border-radius':'100px'
          }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{
            width: '102px',
            height: '37px',
            margin:'0px',
            'border-radius':'100px'
          }">
        </ngx-skeleton-loader>
    </div>
</div>