<div class="chart-dropdown-option">
    <mat-form-field appearance="outline">
      <mat-select
        [(value)]="selectedValue"
      >
        <mat-option
          *ngFor="let option of options"
          [value]="option.label"
          class="option"
          (click)="selectFuntion(option)"
        >
          {{ option.label | uppercase }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix><img class="drop-down-icon" src="/static/images/svg/drop-down-arrow.svg" alt=""></mat-icon>

    </mat-form-field>
</div>
