  <div class="container" cdkVirtualScrollingElement (scroll)=onScroll($event)>
    <app-header></app-header>
    <app-list-loader [items]="11"></app-list-loader>
    <div class="banner">
      <app-banner [data]="data" [bannerData]="bannerData"  (isNextClicked)="addData($event)" [actionBarArray]="actionBarArray"></app-banner>
    </div>
    <header class="header"><div>
      <app-all-list-header></app-all-list-header>
    </div></header>
    <cdk-virtual-scroll-viewport itemSize="150" class="example-viewport">
      <div *cdkVirtualFor="let item of lists; templateCacheSize: 0"  class="example-item">
        <div class="lists">
          <h1>{{item.label}}</h1>
          <app-list [data]="item.data" (isNextClicked)="addData($event)"></app-list>
        </div>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>