<!-- <div style="float: left">
  <button (click)="scrollLeft()">left</button>
</div>
<div #widgetsContent class="container">
  <ng-container *ngFor="let item of data">
    <div class="card">
      <span>{{item}}</span>
    </div>
  </ng-container>
  <span class="right-arrow-btn" (click)="scrollRight()">&#x21d2;</span>
</div> -->
<!-- <hello name="{{ name }}"></hello> -->



<!-- <div class="container">
  <div style="float: left; cursor:pointer;">
    <button (click)="scrollLeft()">left</button>
  </div>

  <div #widgetsContent class="middle">
    <ng-container *ngFor="let item of data">
      <div class="info-widget card">
          <img class="img-profile" src="../assets/images/linkedIn.png" alt="">
          <div class="heading">{{item}}</div>
      </div>
    </ng-container>
  </div>

  
</div> -->

<!-- <div class="cdk-virtual-scroll-data-source-example">
  <div class="scroll left-scroll">
    <button (click)="scrollLeft()"><img style="width: 30px;" src="../assets/images/left-scroll.png" alt=""></button>
  </div>
    <cdk-virtual-scroll-viewport #widgetsContent orientation="horizontal" itemSize="150"  class="example-viewport">
      <div *cdkVirtualFor="let item of data" class="example-item">
        <div class="scroll-card">
          <img class="img-profile" src="../assets/images/linkedIn.png" alt="">
          <div class="heading">{{item}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  <div class="scroll right-scroll">
    <button (click)="scrollRight()"><img style="width: 30px;" src="../assets/images/right-scroll.png" alt=""></button>
  </div>
</div> -->
<!-- <div class="list-container">
  <cdk-virtual-scroll-viewport (scroll)=onScroll($event) itemSize="150"  class="list-viewport">
    <div *cdkVirtualFor="let item of lists; templateCacheSize: 0" class="list-item">
      <h1 class="label">{{item.label}}</h1>
      <app-list-card [data]="item.data"  (scrollButton)="scroll($event)"></app-list-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div> -->
<!-- <ngx-flicking class="flicking-list" [options]="{align:'next', bound:true,panelsPerView:8, renderOnlyVisible:true }"
  [plugins]="plugins">
  <ng-container *ngFor="let item of data;let i = index">
    <div flicking-panel class="card-panel">{{item}}</div>
  </ng-container>
  <span in-viewport class="flicking-arrow-prev"></span>
  <span in-viewport class="flicking-arrow-next" (click)="addItem()"></span>
</ngx-flicking> -->
<!-- <app-header ></app-header> -->
<app-flicking></app-flicking>

<!-- 
<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->