<div class="card-wrapper">
    <div class="card-wrapper__square-loader">
        <ngx-skeleton-loader
          [theme]="{
            width: '34px',
            height: '34px',
            margin:'0px'
          }"
        >
        </ngx-skeleton-loader>
    </div>
    <div class="card-wrapper__first-line-loader">
        <ngx-skeleton-loader
          [theme]="{
            width: '110px',
            'border-radius': '100',
            height: '11px',
            margin:'0px'
          }"
        ></ngx-skeleton-loader>
    </div>
    <div class="card-wrapper__second-line-loader">
        <ngx-skeleton-loader
          [theme]="{
            width: '44px',
            'border-radius': '100',
            height: '11px',
            margin: '0px'
          }"
        ></ngx-skeleton-loader>
    </div>
  </div>