.list-action {
    display: flex;
    align-items: center;
    &--bar{
        margin-right: 30px;
        cursor: pointer;
        &__track {
          width: 92px;
          height: 32px;
          display: flex;
          gap: 10px;
          align-items: center;
          border: 1px solid #007CFF;
          border-radius: 16px;
          &--icon{
              width: 17.5px;
              height: 17.5px;
              margin-left: 8px;
          }
          &__label{
            font-size: 16px;
            color: #007CFF;
            margin-right: 15px;
          }
        }
      
        &__otherActions{
          // margin: 0 20px;
          &--icon{
              width: 22.3px;
              height: 22.3px;
          }
          &--menu{
            &--btn{
                border: none;
                background: transparent;
                padding: 0;

                .mat-icon{
                    color:#007CFF;
                    transform: rotate(90deg);
                }
            }
          }
        }
    }
}
